.profile {
  max-width: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  margin-top: 50px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  background-color: #eee;
  clip-path: circle(48.7% at 50% 50%);
  margin-bottom: 15px;
}

.name {
  margin-bottom: 4px;
}

.tag {
  font-size: 14px;
  color: grey;
  margin-bottom: 4px;
}

.location {
  font-size: 14px;
  color: grey;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: rgb(210, 212, 224);
  border-radius: 0 0 5px 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-top: 1px solid #9e9d9d;
  width: 83px;
  height: 75px;
}

.item:not(:last-child) {
  border-right: 1px solid #9e9d9d;
}

.label {
  font-size: 13px;
  color: rgb(105, 112, 122);
}

.quantity {
  font-weight: 500;
}
