.profile {
  max-width: 250px;
  background-color: var(--color-bg-sec);
  border-radius: var(--border-radius);
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  margin-top: 50px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  background-color: var(--color-bg-main);
  clip-path: circle(48.7% at 50% 50%);
  margin-bottom: 15px;
}

.name {
  margin-bottom: 4px;
}

.tag {
  font-size: var(--font-size-sec);
  color: var(--color-text-sec);
  margin-bottom: 4px;
}

.location {
  font-size: var(--font-size-sec);
  color: var(--color-text-sec);
}

.stats {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-third);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-top: 1px solid var(--color-border);
  width: 83px;
  height: 75px;
}

.item:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.label {
  font-size: var(--font-size-third);
  color: var(--color-text-third);
}

.quantity {
  font-weight: var(--font-weight);
}
